@import '../../assets/styles/variables';
@import '../../assets/styles/theme';

.signup {
  margin-top: 100px;
  margin-bottom: 100px;
  div, button {
    width: 100%;
  }
}

.title {
  font-weight: bold;
  font-size: $font-size-md;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.card {
  width: 100%;
  padding: 40px;
  box-shadow: $card-shadow-1;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @media (min-width: 500px) {
    max-width: 500px;
  }
}

