@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_black_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_black_italic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_black-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_bold_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_bold_italic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec Hairline';
  src: url('/assets/fonts/sailec/sailec_hairline_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_hairline_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec Hairline';
  src: url('/assets/fonts/sailec/sailec_hairline-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_hairline-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_medium_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_medium_italic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_regular_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_regular_italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_light_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_light_italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_light-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_thin_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_thin_italic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: auto;
}


@font-face {
  font-family: 'Sailec';
  src: url('/assets/fonts/sailec/sailec_thin-webfont.woff2') format('woff2'),
       url('/assets/fonts/sailec/sailec_thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}