$font-family-base: 'Sailec', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

/*
* Layout
* ======================================================================== */

$max-content-width: 1000px;

/*
* Media queries breakpoints
* ======================================================================== */

$screen-xs-min: 480px; /* Extra small screen / phone */
$screen-sm-min: 768px; /* Small screen / tablet */
$screen-md-min: 992px; /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */

/**
Colors
*/
$brand-primary: #fc7166;
$brand-secondary: #057485;
$brand-light: #F3F3FB;
$brand-success: #1ab394;
$brand-info: #5d80f9;
$brand-warning: #f3c363;
$brand-danger: #eb3349;
$color-purple: #5C60FF;

$color-text-primary: #031b4e;
$text-secondary: #ffffff;
$font-size-sm: 0.9rem;
$font-size-base: 1.2rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;
$font-size-large: 1.1rem;
$font-size-small: 0.9rem;
$font-size-index: 0.7rem;

$card-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);