.heading {
  font-family: 'Saliec', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.list-item {
  position: relative;
  margin: 5px 10px;
  border-radius: 5px;
  list-style: none;
}

.list-item:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(15, 125, 170, 0.2);
  box-shadow: 0px 0px 15px rgba(15, 125, 170, 0.2);
}

/* .list-item .list-item-wrap {
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
} */


/* .list-item .list-item-wrap .number-badge {
  margin-left: 10px;
} */

/* .list-item .list-item-wrap a {
  font-family: "Sailec", Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 100%;
} */

.list-item.active {
  background: var(--color-purple);
}
.list-item.active a {
  color: #fff;
}
